<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load product_tags %}
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="{% static '/css/main.css' %}" type="text/css">
</head>
<body>
    <header>
        {% include 'inc/_nav.html' %}
    </header>
    {% get_products as products %}
    {% for item in products %}
            <div id="{{ item.slug }}" class="information">
                <p class="{{ item.name }}">Name:{{ item.name }}</p>
                <p class="{{ item.pk }}">Price:{{ item.price }} €</p>
                <p class="{{ item.description }}">Description: {{ item.description }}</p>
                <p class="{{ item.category }}">Category:{{ item.category }}</p>
                <p class="{{ item.created_by }}">Author:{{ item.created_by }}</p>
                <p class="{{ item.created_at }}">Posted:{{ item.created_at|date:"Y:m:d" }}</p>
                <a href="{{ item.get_absolute_url }}">See more</a>
                <div type="addToCartButton">
                    <button type="submit">
                        <span>
                            <a href="{% url 'add_to_cart' request.user.id item.id %}">Add to cart</a>
                        </span>
                    </button>
                </div>
            </div>
    <hr>
    {% endfor %}
</body>

</html>