<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
    <div class="product">
        <p class="name">Product: {{ product.name }}</p>
        <p class="price">Price: {{ product.price }}</p>
        <p class="description">Description: {{ product.description }}</p>
        <p class="author">Author: {{ product.author }}</p>
        <p class="category">Category: {{ product.category }}</p>
        <p class="created_at">Posted: {{ product.created_at|date:"Y m d " }}</p>
    </div>
</body>
</html>