<nav id="top_header">
    {% load product_tags %}
    {% get_all_categories as categories %}
    <ul>
        <li>
            <a href="{% url 'main_page' %}" id="name">Site</a>
        </li>
        <div class="searching_system">
            <form class="form-inline my-2 my-lg-0" method="get" action="search">
                <span>
                    <input class="searching system" type="search" placeholder="Search" aria-label="Search" name="q">
                </span>
                <button class="submit button" type="submit" value="submit">
                    <span>
                        Search
                    </span>
                </button>
            </form>
        </div>
        <div class="catalog">
            <button>
                <span>
                    <a href="{% url 'catalog' %}">Catalog</a>
                </span>
            </button>
        </div>
        {% if request.user.is_authenticated %}
        <li>
            <a href="{% url 'user_cart' request.user.id %}">Cart</a>
        </li>
        {% else %}
        <li>
            <a href="{% url 'main_page' %}">Cart</a>
        </li>
        {% endif %}
        <li>
            <a href="{% url 'add_product' %}">Add product</a>
        </li>
        {% if request.user.is_authenticated %}
        <li>
            <p>Hello {{ request.user }}</p>
            <a href="{% url 'logout_user' %}">Logout</a>
        </li>
        {% else %}
        <li>
            <a href="{% url 'sign_in' %}">Sign in</a>
        </li>
        <li>
            <p>Hello {{ request.user }}</p>
            <a href="{% url 'sign_up' %}">Sign up</a>
        </li>
        {% endif %}
    </ul>
</nav>