<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buy</title>
</head>
<body>
<header>
    {% include 'inc/_nav.html' %}
</header>
    {% for product in order_items %}
    {% for product_item in product.items.all %}
    <p>Product: {{ product.items.all| join:", " }}</p>
    <p>Price: {{ product_item.product.price }}</p>
    <p>Description: {{ product_item.product.description }}</p>
    <p>Author: {{ product.owner }}</p>
    <p>You order this product to cart at {{ product.date_ordered }}</p>
    <p>Product was created on {{ product_item.product.created_at }}</p>
    <hr>
    {% endfor %}
    {% endfor %}
    <p><strong>Total price</strong>: {{ total_price }}</p>
</body>
</html>