<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
<header>
    {% include 'inc/_nav.html' %}
</header>
{% for product in products %}
    <p>Address: {{ product.address }}</p>
    <p>Country: {{ product.country }}</p>
    {% for item in product.products.all %}
    <p>Products: {{ item.items.all | join:", " }}</p>
    <button type="submit" value="submit">
        <span>
            <a href="{% url 'delete_order' request.user.id product.id %}">
                Delete
            </a>
        </span>
    </button>
{% endfor %}
<hr>
{% endfor %}
</body>
</html>