<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load shopping_cart_tags %}
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
<header>
    {% include 'inc/_nav.html' %}
</header>
    <p>Total cost:{{ total_price }}</p>
    {% for item in cart %}
    {% for product in item.items.all %}
        <p>Product: {{ item.items.all| join:", "}}</p>
        <p>Price: {{ product.product.price }}</p>
        <p>Description: {{ product.product.description }}</p>
        <p>Author: {{ item.owner }}</p>
        <p>You order this product to cart at {{ item.date_ordered }}</p>
        <p>Product was created on {{ product.product.created_at }}</p>
        <a href="{% url 'product' product.product.slug %}">See more</a>
        <div>
            {% if request.user.is_authenticated %}
                <button type="submit">
                    <span>
                        <a href="{% url 'add_to_cart' request.user.id item.id %}">Add to cart</a>
                    </span>
                </button>
            {% else %}
                <button type="submit">
                    <span>
                        <a href="#">Add to cart</a>
                    </span>
                </button>
            {% endif %}
        </div>
            <hr>
    {% endfor %}
    {% endfor %}
    <button>
        <a href="{% url 'checkout' request.user.id%}">Checkout</a>
    </button>
</body>
</html>